@keyframes moveDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-move-down:hover {
    animation: moveDown 1s infinite ease-in-out;
}

