.custom-button {
    display: flex;
    height: 44px;
    padding: 0px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--blue-primary-500, #0054A6);
}

.custom-btn {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 100%;
    width: 100%;
}
.custom-button:hover{
    background: var(--blue-primary-400, #3376B8);
}
