.custom-bg-newspost {
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7.5px);
}

.custom-minitag {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
}

.custom-text {
    color: var(--gray-gray-400, #858585);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.scroll-newspost {
    overflow-y: scroll;
}

/* Ẩn thanh cuộn trong Chrome, Safari và Edge */
.scroll-newspost::-webkit-scrollbar {
    width: 0;
    /* Ẩn thanh cuộn dọc */
}

/* Ẩn thanh cuộn trong Firefox */
.scroll-newspost {
    scrollbar-width: none;
    /* Ẩn thanh cuộn dọc */
}