.custom-about-right {
    width: 619px;
    height: 599px;
    position: relative;
}

.rectangle-1 {
    width: 487px;
    height: 311px;
    position: relative;
}

.rectangle-2 {
    width: 552px;
    height: 340px;
    position: absolute;
    bottom: 0;
    right: 0;
    
}