.custom-recruitmentdetail {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(7.5px);
}


.custom-title-recruit {
    color: var(--blue-primary-600, #003F7D);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}