.custom-navigation {
    border-bottom: 1px #FFF;

    background: rgba(0, 47, 92, 0.80);

    backdrop-filter: blur(7.5px);
}

.custom-dropdown-menu {
    background-color: #6587A9;
    width: 122px;
}

.custom-dropdown-menu .ant-dropdown-menu-item:hover {
    background-color: #6587A9;
    width: 122px;
    /* Màu nền khi hover, có thể điều chỉnh để tương phản với màu nền chính */
}

.text-decoration-underline {
    text-decoration: underline;
    text-decoration-color: #99FFFF;
}

.custom-nav-mobile {
    background: rgba(0, 37, 73, 0.80);
    backdrop-filter: blur(9.5px);
}

.custom-toggle-close {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8.571px;
    justify-content: center;
    align-items: center;
    gap: 7.143px;
    flex-shrink: 0;
    border-radius: 22.857px;
    border: 1.429px solid #FFF;
    background: var(--White, #FFF);
    box-shadow: 0px 2.857px 2.857px 0px rgba(0, 0, 0, 0.25);
    top: 5%;
    right: 2%;
}