
.custom-dropdown-menu {
    background-color: #6587A9;
    width: 122px;
}

.custom-dropdown-menu .ant-dropdown-menu-item:hover {
    background-color: #6587A9;
    width: 122px;
    /* Màu nền khi hover, có thể điều chỉnh để tương phản với màu nền chính */
}