.bg-headercontent{
    width: 1920px;
    height: 1080px;
}

.text-shadow-custom-h2 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

.text-shadow-custom-h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
    img{
        height: 310px;
        width: 220px;
    }
}